<h2 class="head-title">Data Binding</h2>
<div class="row">
    <div class="col-md-4">
        <p class="text">{{print}} with String Interpolation</p>
        <img src="{{itemImageUrl}}">
    </div>
    <div class="col-md-4">
        <p class="text"> Template expressions -</p>
          <p>The sum of 1+1 is {{1+1}}</p>
    </div>
    <div class="col-md-4">
        <p class="text">{{print}} with Property Binding
        </p>
          <img [src]="itemImageUrl">
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p class="text">Alert Box with Event Binding</p>
            <button type="button" class="button button2" (click)="AlertBox()">Click</button>     
    </div>
    <div class="col-md-4">
        <p class="text">
            Change image using String interpolation and Event binding
        </p>
        <img class="image" src="{{imageUrl}}"><br>
        <button class="button button2" (click)="changeImage()">Change</button>
    </div>
    <div class="col-md-4">
        <p class="text">
            Attribute binding
        </p>
        <table [attr.border]="border" style="height: 200px; width: 400px;">
            <tbody>
                <tr>
                    <th [attr.colspan]="colspan">Student</th>

                </tr>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Course</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Rahul</td>
                    <td>B.Tech</td>
                </tr>
            </tbody>
        </table>
    </div>
      
</div>
