.head-title{
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}
.col-md-6,.col-md-4,.col-md-12{
    height: 200px;
    margin-top: 10px;
    text-align: center;
    background-color: rgb(247, 234, 234);
    margin-bottom: 50px;
}
.text{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
