<div class="row">
    <div class="col-md-12">
        <h2 class="head">Registration Form</h2>
        <form class="form-horizontal" #formData='ngForm' (ngSubmit)='getValue(formData)'>
          <div class="form-group">
           <label class="control-label col-sm-2">Name : </label>            
           <div class="col-sm-10">
               <input type="text" class="form-control" placeholder="Name" name="Name" ngModel>
           </div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-2">Email : </label>            
              <div class="col-sm-10">
                  <input type="email" class="form-control" placeholder="Email" name="email" ngModel>
              </div>
             </div>
             <div class="form-group">
              <label class="control-label col-sm-2">Password : </label>            
              <div class="col-sm-10">
                  <input type="password" class="form-control" placeholder="Password" name="password" ngModel>
              </div>
             </div>
             <div class="form-group">
              <label class="control-label col-sm-2">Confirm Password : </label>            
              <div class="col-sm-10">
                  <input type="password" class="form-control" placeholder="Confirm Password" name="cpassword" ngModel>
              </div>
             </div>
             <div class="form-group">            
              <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary" placeholder="Confirm Password">Submit</button>
              </div>
             </div>
        </form>
    </div>
</div>