.row{
    padding: 10px 100px;
    background-color: rgb(247, 234, 234);
}
input.ng-invalid.ng-touched{
    border-color: red;
}
.pMsg{
    color: red
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .check-margin{
      margin-left: 16px;
  }
  
  .custom-tooltip {
      font-size: 18px;

}
button{
    margin: 10px;
}