<div class="row">
    <div class="col-md-12">
        <h2 class="head">Registration Form with validation (Reative Form)</h2>
        <form class="form-horizontal" [formGroup]='regForm' (ngSubmit)='onClickBtn(regForm)'>
          <div class="form-group">
           <label class="control-label col-sm-2">Name : </label>            
           <div class="col-sm-10">
               <input type="text" class="form-control" placeholder="Name" formControlName='Name' >
               <span *ngIf='!regForm.controls.Name.valid && regForm.controls.Name.touched'>Name is Required</span>
           </div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-2">Email : </label>            
              <div class="col-sm-10">
                  <input type="email" class="form-control" placeholder="Email" formControlName='email'>
               <span *ngIf='!regForm.controls.email.valid && regForm.controls.email.touched'>Email is Required</span>

              </div>
             </div>
             <div class="form-group">
              <label class="control-label col-sm-2">Password : </label>            
              <div class="col-sm-10">
                  <input type="password" class="form-control" placeholder="Password" formControlName='password'>
               <span *ngIf='!regForm.controls.password.valid && regForm.controls.password.touched'>Password is Required</span>

              </div>
             </div>
             <div class="form-group">
              <label class="control-label col-sm-2">Confirm Password : </label>            
              <div class="col-sm-10">
                  <input type="password" class="form-control" placeholder="Confirm Password" formControlName='cpassword'>
               <span *ngIf='regForm.controls.password.value!== regForm.controls.cpassword.value && regForm.controls.cpassword.touched'>Password doesn't match</span>
                  
              </div>
             </div>
             <div class="form-group">            
              <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary" placeholder="Confirm Password" [disabled]='!regForm.valid || regForm.controls.password.value!== regForm.controls.cpassword.value'>Submit</button>
              </div>
             </div>
        </form>
    </div>
</div>