<mat-drawer-container class="example-container" autosize >
    <mat-drawer #drawer class="example-sidenav" mode="Over">
      <div class="fixed">
        <h2 >Angular</h2>
      </div>
      <mat-nav-list *ngFor='let i of workRoute'>
        <a mat-list-item [routerLink]="[i.route]" (click)="drawer.toggle()"> {{i.title}}</a> 
    </mat-nav-list>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <mat-toolbar class="app-toolbar">
        <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <h2 matSubheader style="padding-left: 10px;">Practice</h2>
        <span class="example-spacer"></span>
        <span>Login</span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
         <mat-icon>input</mat-icon>
        </button>
      </mat-toolbar>
      <router-outlet></router-outlet>
      
    </div>
    
  </mat-drawer-container>