<h2 class="head-title">Switch-Case</h2>
<div class="row">
    <div class="col-md-12" [ngStyle]="{'background-color':block}">
        <p class="text"> Div Color change using switch case</p>
        <input type="text" placeholder="Color Name" #colorValue>
        <button type="button" (click)="changeColorWithSwitch(colorValue.value)">Change</button>
        <br><br>
        <select #hello (change)=changeColorWithSwitch(hello.value)>
            <!-- <option *ngFor="let i of colorArr">{{i}}</option> -->
            <option label="">- - Select - -</option>
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="pink">Pink</option>
            <option value="skyblue">SkyBlue</option>
            <option value="orange">Orange</option>
        </select>
    </div>
</div>