.head-title{
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}
.col-md-6{
    height: 200px;
    margin-top: 10px;
    text-align: center;
}
.text{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}